<div class="section-title"></div>
  <div class="plans-and-pricing-container">
    <!--
    <div class="plan">
      <div class="plan-details">
        <div style="min-height:200px;">
          <span class="free-plan-title">7 Day Trial <span style="color:#888888;font-size:12px;font-weight: 300;margin-top:0;">plan</span></span>
          <div>
            <div style="display:block;margin-top: 30px;text-align: center;">
              <div style="">
                <span style="color:black;font-size: 30px;font-weight: 400;">FREE</span>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="feature-container">
          <div class="feature-list">
            <ul>
              <li>Unlimited File Uploads</li>
              <li>Unlimited Trainings</li>
              <li>Custom Notifications</li>
              <li>Custom Roles</li>
              <li>Custom Reports</li>
              <li>Advanced Training Wizard</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    -->
    <div class="plan">
      <div class="plan-details">
        <div style="min-height:200px;">
          <span class="plan-title"><span style="color:blue;">Basic </span><span style="color:#888888;font-size:12px;font-weight: 300;margin-top:0;">plan</span></span>
          <div>
            <div style="display:block;margin-top: 30px;text-align: center;">
              <div style="">
                <span style="color:#888888;font-size: 30px;font-weight: 200;">$</span>
                <span style="color:black;font-size: 30px;font-weight: 400;">10</span>
                <span style="color:#888888;font-size:12px;font-weight: 200;margin-top:0;"> /user /month</span>
              </div>
              <div style="text-align: center;margin: -10px 0 0 0;">
                <span style="color:#888888;font-size:12px;font-weight: 200;margin-top:0;">billed annually ($120 /user /year) </span>
              </div>
            </div>
            <div style="display: block;text-align: center;margin-top: 15px;">
              <div>
                <span style="color:#888888;font-size: 30px;font-weight: 200;">$</span>
                <span style="color:black;font-size: 30px;font-weight: 400;">14</span>
                <span style="color:#888888;font-size:12px;font-weight: 200;margin-top:0;"> /user /month</span>
              </div>
              <div style="text-align: center;margin: -10px 0 0 0;">
                <span style="color:#888888;font-size:12px;font-weight: 200;margin-top:0;">billed monthly ($168 /user /year) </span>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="feature-container">
          <div class="feature-list">
            <ul>
              <li>Unlimited File Uploads</li>
              <li>Unlimited Trainings</li>
              <li>Basic Notifications</li>
              <li>Basic Roles</li>
              <li>Basic Reports</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="plan-details">
        <div style="min-height:200px;">
                  <span class="pro-plan-title">PRO <span
                    style="color:#888888;font-size:12px;font-weight: 300;margin-top:0;">plan</span></span>
          <div>
            <div style="display:block;margin-top: 30px;text-align: center;">
              <div style="">
                <span style="color:#888888;font-size: 30px;font-weight: 200;">$</span>
                <span style="color:black;font-size: 30px;font-weight: 400;">15</span>
                <span style="color:#888888;font-size:12px;font-weight: 200;margin-top:0;"> /user /month</span>
              </div>
              <div style="text-align: center;margin: -10px 0 0 0;">
                <span style="color:#888888;font-size:12px;font-weight: 200;margin-top:0;">billed annually ($180 /user /year) </span>
              </div>
            </div>
            <div style="display:block;text-align: center;margin-top: 15px;">
              <div>
                <span style="color:#888888;font-size: 30px;font-weight: 200;">$</span>
                <span style="color:black;font-size: 30px;font-weight: 400;">21</span>
                <span style="color:#888888;font-size:12px;font-weight: 200;margin-top:0;"> /user /month</span>
              </div>
              <div style="text-align: center;margin: -10px 0 0 0;">
                <span style="color:#888888;font-size:12px;font-weight: 200;margin-top:0;">billed monthly ($252 /user /year) </span>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="feature-container">
          <div class="feature-list">
            <ul>
              <li>Unlimited File Uploads</li>
              <li>Unlimited Trainings</li>
              <li>Custom Notifications</li>
              <li>Custom Roles</li>
              <li>Custom Reports</li>
              <li>Advanced Training Wizard</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

